
@{
    ViewData["Title"] = "Admin";
}
   
 
        <a class="btn btn-success" href="@Url.Action("Admin",new { status="pending"})" role="button">Pending</a>
        <a class="btn btn-success" href="@Url.Action("Admin",new { status="in progress"})" role="button">In Progress</a>
        <a class="btn btn-success" href="@Url.Action("Admin",new { status="case closed"})" role="button">Case Closed</a>
<a class="btn btn-success" href="@Url.Action("Admin")" role="button">All</a>
<a class="btn btn-info" style="margin-left: 50px" href="@Url.Action("EditDoc")" role="button">Manage Docs</a>
  

<table class="table" style="margin-top: 15px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var c in ViewBag.complains)
        {
            <tr>
                <td>@c.Title</td>
                <td>@c.Status</td>
                <td><a class="btn btn-info" href="@Url.Action("ViewComplain",new { id=c.Id})" role="button">View</a></td>
            </tr>
        }
    }
    </tbody>
</table>
